[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
rope = "*"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
marshmallow = "*"
twilio = "*"
boto3 = "*"
"ruamel.yaml" = "*"
toml = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
