<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32 w-full">
  <div class="mx-auto lg:w-1/2">
    <img src="https://raw.githubusercontent.com/tmkontra/botschaft/master/docs/logo.png"/>
    <h1 class="mt-10 flex items-center text-sm font-semibold leading-6">
      A universal messaging and notifications gateway.  
    </h1>
  </div>
</div>
